:root {
    --TEXT-ICONS: #EEEEEE;
    --PRIMARY-TEXT: #EEEEEE;
    --SECONDARY-TEXT: #757575;
    --DIVIDER-COLOR: #BDBDBD;
    --BACKGROUND-COLOR: #121212;
    --surface-color: rgba(100%, 100%, 100%, 0.05);
}