:root {
    --TEXT-ICONS: #EEEEEE;
    --PRIMARY-TEXT: #212121;
    --SECONDARY-TEXT: #757575;
    --DIVIDER-COLOR: #BDBDBD;
    --BACKGROUND-COLOR: #FAFAFA;
    --surface-color: rgba(0%, 0%, 0%, 0.05);
}