:root {
    --DARK-PRIMARY-COLOR: #1976D2;
    --LIGHT-PRIMARY-COLOR : #BBDEFB;
    --PRIMARY-COLOR: #2196F3;
    --TEXT-ICONS: #EEEEEE;
    --ACCENT-COLOR: #536DFE;
    --PRIMARY-TEXT: #212121;
    --SECONDARY-TEXT: #757575;
    --DIVIDER-COLOR: #BDBDBD;
    --BACKGROUND-COLOR: #FAFAFA;
    --surface-color: rgba(0%, 0%, 0%, 0.05);
}

body {
    font-family: 'ROBOTO';
    margin: 0;
    background-color: var(--BACKGROUND-COLOR);
    color: var(--PRIMARY-TEXT);
    transition: 500ms;
}

header {
    height: 60px;
    background: var(--DARK-PRIMARY-COLOR);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media only screen and (max-width: 1000px) {
    header > label {
        display: none;
    }
}

header > label {
    font-size: min(2vw ,1em);
}

header > * {
    color: var(--TEXT-ICONS);
}

header > select {
    font-size: min(3vw ,1.5em);
    background: transparent;
    border: none;
}

header > select > option {
    color: var(--DARK-PRIMARY-COLOR);
    background: transparent;
}

main > section {
    background-color: var(--surface-color);
    border-radius: 10px;
    margin: 20px;
}

#main-canvas {
    position: relative;
    height: calc(100vh - 60px - 150px - 60px);
}

#control-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 150px;
}

#control-panel > button {
    border: none;
    background: none;
    cursor: pointer;
}

svg {
    color: var(--ACCENT-COLOR)
}

#pause {
    display: none;
}

#inversion-number {
    text-align: center;
    width: 100%;
}